In [1]:
import pandas as pd
import numpy as np
from scipy.stats import skew,kurtosis
from scipy.special import cbrt
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy.stats import chisquare
from matplotlib import pyplot as plt
from pandas.plotting import table
import os
import pickle
from openpyxl import load_workbook,Workbook
import math

In [2]:
from advanced_analysis_package import analyze

In [3]:
os.chdir('../Input_Data')

In [4]:
df = pd.read_csv('dev.csv',header=0)

In [5]:
df.columns

Index(['Date', 'Symbol', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'returns', 'return_1d', 'return_2d', 'return_3d', 'return_4d',
       'return_5d', 'return_6d', 'return_7d', 'return_8d', 'return_9d',
       'return_10d', 'Open_Chg', 'High_Chg', 'Low_Chg', 'Range_Chg',
       'Volume_Chg', 'Voltality5', 'Voltality20', 'MA5', 'MA20', 'High5',
       'Low5', 'High20', 'Low20', 'MA5_ratio', 'MA20_ratio', 'High5_ratio',
       'Low5_ratio', 'High20_ratio', 'Low20_ratio', 'future_return', 'lift',
       'Price_Voltality5', 'Price_Voltality20', 'Bollinger5_ratio',
       'Bollinger20_ratio', 'ADX5', 'ADX20', 'RSI5', 'RSI20', 'Symbol_nifty',
       'Open_nifty', 'High_nifty', 'Low_nifty', 'Close_nifty',
       'Adj Close_nifty', 'Volume_nifty', 'returns_nifty', 'return_1d_nifty',
       'return_2d_nifty', 'return_3d_nifty', 'return_4d_nifty',
       'return_5d_nifty', 'return_6d_nifty', 'return_7d_nifty',
       'return_8d_nifty', 'return_9d_nifty', 'return_10d_nifty', 'MA5_nifty',
       'MA20_nifty', 'MA5_ratio_nifty', 'MA20_ratio_nifty', 'High5_nifty',
       'Low5_nifty', 'High20_nifty', 'Low20_nifty', 'High5_ratio_nifty',
       'Low5_ratio_nifty', 'High20_ratio_nifty', 'Low20_ratio_nifty',
       'Voltality5_nifty', 'Voltality20_nifty', 'correlation'],
      dtype='object')

In [6]:
header = pd.read_excel('header.xlsx',header=0)

In [7]:
header

,Date,Symbol,Open,High,Low,Close,Adj Close,Volume,returns,return_1d,...,Low5_nifty,High20_nifty,Low20_nifty,High5_ratio_nifty,Low5_ratio_nifty,High20_ratio_nifty,Low20_ratio_nifty,Voltality5_nifty,Voltality20_nifty,correlation
0,K,K,I,I,I,I,I,I,I,N,...,I,I,I,N,N,N,N,N,N,N

In [8]:
df_edd = df[[col for col in list(header.columns) if str(header.loc[0,col]) in ['N','C','L']]]

In [9]:
df_edd

,return_1d,return_2d,return_3d,return_4d,return_5d,return_6d,return_7d,return_8d,return_9d,return_10d,...,return_10d_nifty,MA5_ratio_nifty,MA20_ratio_nifty,High5_ratio_nifty,Low5_ratio_nifty,High20_ratio_nifty,Low20_ratio_nifty,Voltality5_nifty,Voltality20_nifty,correlation
0,0.018003,0.023278,0.008098,-0.005573,-0.000294,0.002590,0.001593,0.006010,0.016649,0.030379,...,0.018137,1.033632,1.061864,1.000000,0.940826,1.000000,0.909707,0.010448,0.014937,0.633234
1,0.002530,0.018003,0.023278,0.008098,-0.005573,-0.000294,0.002590,0.001593,0.006010,0.016649,...,0.002616,1.018833,1.055468,0.997162,0.947192,0.997162,0.912296,0.011040,0.013958,0.585943
2,0.001599,0.002530,0.018003,0.023278,0.008098,-0.005573,-0.000294,0.002590,0.001593,0.006010,...,-0.010175,1.010186,1.055841,0.999889,0.965071,0.999889,0.909808,0.011256,0.013439,0.666248
3,0.000112,0.001599,0.002530,0.018003,0.023278,0.008098,-0.005573,-0.000294,0.002590,0.001593,...,0.000736,1.012622,1.064204,1.000000,0.975525,1.000000,0.899114,0.009846,0.012629,0.722306
4,0.015019,0.000112,0.001599,0.002530,0.018003,0.023278,0.008098,-0.005573,-0.000294,0.002590,...,0.002305,1.006945,1.057672,0.999153,0.986387,0.999153,0.907181,0.007284,0.009964,0.547352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12242,-0.003888,-0.012724,-0.029075,0.000745,-0.011480,0.000368,-0.017887,0.007262,-0.010874,0.009781,...,0.012739,0.990993,0.985076,0.974148,0.991800,0.967684,0.991800,0.012141,0.010460,0.845235
12243,0.008534,-0.003888,-0.012724,-0.029075,0.000745,-0.011480,0.000368,-0.017887,0.007262,-0.010874,...,-0.003232,0.995593,0.983940,0.973846,0.992595,0.966909,0.992595,0.012410,0.010422,0.747953
12244,0.006161,0.008534,-0.003888,-0.012724,-0.029075,0.000745,-0.011480,0.000368,-0.017887,0.007262,...,-0.001390,1.000253,0.984062,0.997263,0.993455,0.966073,0.993455,0.012374,0.008456,0.734918
12245,0.006505,0.006161,0.008534,-0.003888,-0.012724,-0.029075,0.000745,-0.011480,0.000368,-0.017887,...,-0.006736,0.995967,0.979192,0.992310,0.999486,0.960243,0.999486,0.006652,0.008509,0.687872
12246,0.013726,-0.048016,-0.010023,-0.011821,-0.015049,-0.004471,-0.013661,-0.023556,-0.029642,-0.004164,...,0.012541,0.985373,0.968056,0.979291,1.000000,0.947644,1.000000,0.007874,0.008913,-0.042248

In [10]:
edd_regression = analyze.edd(df_edd,dv='future_return',regression=True,percentile=[.01,.05,.1,.2,.3,.4,.5,.6,.7,.8,.9,.95,.99])

In [11]:
edd_regression.to_excel('../Statistics/edd_regression.xlsx',index=False)

In [12]:
edd_lift_prediction = analyze.edd(df_edd,dv='lift',regression=False,percentile=[.01,.05,.1,.2,.3,.4,.5,.6,.7,.8,.9,.95,.99])

In [13]:
edd_lift_prediction.to_excel('../Statistics/edd_lift_prediction.xlsx',index=False)

In [10]:
pos_df = df_edd[df_edd['future_return']>0]
neg_df = df_edd[df_edd['future_return']<=0]

In [15]:
pos_regression = analyze.edd(pos_df,dv='future_return',regression=True,percentile=[.01,.05,.1,.2,.3,.4,.5,.6,.7,.8,.9,.95,.99])

In [16]:
neg_regression = analyze.edd(neg_df,dv='future_return',regression=True,percentile=[.01,.05,.1,.2,.3,.4,.5,.6,.7,.8,.9,.95,.99])

In [17]:
pos_regression.to_excel('../Statistics/pos_regression.xlsx',index=False)
neg_regression.to_excel('../Statistics/neg_regression.xlsx',index=False)

# Trends Generator

In [11]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import pandas as pd
import numpy as np
import pickle

In [12]:
spark = SparkSession.builder.appName('Trends').enableHiveSupport().getOrCreate()

In [13]:
sc = spark.sparkContext
sqlContext = pyspark.HiveContext(sc)

In [38]:
data = sqlContext.createDataFrame(neg_df)

In [39]:
data.show(10,False)

+---------------------+----------------------+---------------------+----------------------+---------------------+---------------------+---------------------+---------------------+----------------------+---------------------+---------------------+---------------------+----------------------+--------------------+---------------------+--------------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------------+----+-------------------+------------------+-------------------+-------------------+------------------+------------------+----------------------+---------------------+----------------------+---------------------+----------------------+----------------------+---------------------+----------------------+---------------------+----------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+--------------------+-------------------+
|return_1d            |return_2d             |return_3d            |return_4d             |return_5d            |return_6d            |return_7d            |return_8d            |return_9d             |return_10d           |Open_Chg             |High_Chg             |Low_Chg               |Range_Chg           |Volume_Chg           |Voltality5          |Voltality20         |MA5_ratio         |MA20_ratio        |High5_ratio       |Low5_ratio        |High20_ratio      |Low20_ratio       |future_return         |lift|Bollinger5_ratio   |Bollinger20_ratio |ADX5               |ADX20              |RSI5              |RSI20             |return_1d_nifty       |return_2d_nifty      |return_3d_nifty       |return_4d_nifty      |return_5d_nifty       |return_6d_nifty       |return_7d_nifty      |return_8d_nifty       |return_9d_nifty      |return_10d_nifty      |MA5_ratio_nifty   |MA20_ratio_nifty  |High5_ratio_nifty |Low5_ratio_nifty  |High20_ratio_nifty|Low20_ratio_nifty |Voltality5_nifty     |Voltality20_nifty   |correlation        |
+---------------------+----------------------+---------------------+----------------------+---------------------+---------------------+---------------------+---------------------+----------------------+---------------------+---------------------+---------------------+----------------------+--------------------+---------------------+--------------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------------+----+-------------------+------------------+-------------------+-------------------+------------------+------------------+----------------------+---------------------+----------------------+---------------------+----------------------+----------------------+---------------------+----------------------+---------------------+----------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+--------------------+-------------------+
|0.0017928580539381344|0.01501933479706094   |1.1236353113251523E-4|0.0015987983924672874 |0.002529686128019614 |0.0180034940540082   |0.023278083807610744 |0.008097977636033272 |-0.0055725157308381505|-2.939915680135904E-4|0.020630767851477792 |0.002696116991288273 |-0.02573678780235605  |0.8109302162163319  |0.1879072400665953   |0.006105668375933351|0.00945716260520785 |1.0108357347134396|1.067086647179595 |1.0               |0.9816471481761906|1.0               |0.8661851849239937|-0.014167046508319016 |0   |0.7972742154042329 |0.8733682488813849|0.6212372410447692 |0.19096070803756413|0.9526936896660202|0.6729250901758346|-0.0020758870395329284|-8.477288032041508E-4|0.011823458570050094  |0.0027310064890558924|-0.002841638805797639 |0.013067052341130356  |0.022596745935144387 |0.021431214680078633  |0.0039020490660947173|-9.872650280377546E-4 |1.0030931162169443|1.0507534319788585|0.9970806537601544|0.9884365276407052|0.9970806537601544|0.9090659867861941|0.0060188326795981495|0.00985273887541414 |0.5548590195072409 |
|-0.014167046508319016|0.006865390168564581  |0.0017928580539381344|0.01501933479706094   |1.1236353113251523E-4|0.0015987983924672874|0.002529686128019614 |0.0180034940540082   |0.023278083807610744  |0.008097977636033272 |0.0060389469034459456|-0.002509995982974007|-0.009332991110930713 |0.32271830014290026 |-0.03585558430389997 |0.010701940609082144|0.010435106623541341|0.9964814641378812|1.0450949516709087|0.9859328338687621|0.9905345456095386|0.9859328338687621|0.8871617973696798|-0.004395776394139655 |0   |0.4005341210135224 |0.7700821698684003|0.4344357000806549 |0.1924808943033063 |0.6328525862433634|0.6327842338591974|-0.0015195437229894547|0.007385507354340118 |-0.0020758870395329284|-8.477288032041508E-4|0.011823458570050094  |0.0027310064890558924 |-0.002841638805797639|0.013067052341130356  |0.022596745935144387 |0.021431214680078633  |1.0022146981061155|1.0468195666687112|0.9984816101990212|0.9941512075417462|0.9984816101990212|0.9062237505389624|0.006286315459097464 |0.009173364041453295|0.5785410005260138 |
|-0.004395776394139655|0.0062539669227189825 |-0.014167046508319016|0.006865390168564581  |0.0017928580539381344|0.01501933479706094  |1.1236353113251523E-4|0.0015987983924672874|0.002529686128019614  |0.0180034940540082   |0.013947227480850552 |-0.005564875605366044|-0.009029441319823485 |0.13758818945911358 |0.3286557932581076   |0.008758177520400106|0.010634941696894556|0.9959381227480812|1.0348693801654336|0.9877665881272264|0.9981435348385884|0.9877665881272264|0.8901695120289917|-0.003768782401814061 |0   |0.3160288720830462 |0.7390575983691715|0.3605833375831602 |0.18629226589933776|0.6065267522411708|0.6293846057202945|0.0019188221623327232 |-0.009573791386876557|-0.0015195437229894547|0.007385507354340118 |-0.0020758870395329284|-8.477288032041508E-4 |0.011823458570050094 |0.0027310064890558924 |-0.002841638805797639|0.013067052341130356  |0.9966562788573275|1.0300536999397143|0.9908674444853344|0.998083017599999 |0.9908674444853344|0.9225360596844624|0.006195077077922025 |0.009193749341386595|0.26585644498558564|
|0.013049415709329529 |0.022125911363843884  |0.025209015276865955 |0.009434011726807972  |0.010467657531500559 |-0.003768782401814061|0.0017164010209081955|-0.004395776394139655|0.0062539669227189825 |-0.014167046508319016|0.026766258212574945 |0.01827752688737125  |0.02267955038152868   |-0.1301917769004068 |-0.7013658168336522  |0.00715439296390701 |0.010438648055924041|1.0359608238593423|1.0791939872789515|1.0               |0.932563200825318 |1.0               |0.8665610115549681|-0.03006513610576476  |0   |0.8012534672047708 |1.0776203045885269|0.4862986168359113 |0.2082128543284816 |0.9379046429830834|0.7611834326050986|0.014695788860233022  |0.010285278736947085 |0.003905544028311057  |-0.009085634617540576|0.001997506523361255  |0.006930286717632007  |0.009343303168475172 |0.0019188221623327232 |-0.009573791386876557|-0.0015195437229894547|1.0177784652321904|1.03844819683613  |1.0               |0.9715266180454312|1.0               |0.9028784954150764|0.009062428688542434 |0.00878026923611737 |0.2350457343801396 |
|0.002969454608452848 |0.013879367590153352  |-0.03006513610576476 |0.006945110047153901  |0.013049415709329529 |0.022125911363843884 |0.025209015276865955 |0.009434011726807972 |0.010467657531500559  |-0.003768782401814061|0.025975486403260736 |0.0036477048646329155|0.01509173480467333   |-0.6471225957259543 |0.08197460029918689  |0.01812939524073769 |0.012194164110740887|1.000015556307866 |1.04846578114253  |0.9868706380863576|0.9832923253709136|0.9868706380863576|0.9184734180725694|-0.008038499604034516 |0   |0.5003462861015544 |0.8532014293975341|0.4919623109564709 |0.2035244279364585 |0.6674982052516514|0.6859568186696275|0.005077197927113092  |-0.001130507481108297|-0.00498211007898981  |0.006472043451067185 |0.014695788860233022  |0.010285278736947085  |0.003905544028311057 |-0.009085634617540576 |0.001997506523361255 |0.006930286717632007  |1.0026850219376895|1.0286716749092133|0.99896511622896  |0.9945781278759434|0.99896511622896  |0.9480476247995056|0.007560888760624436 |0.006639706069203478|0.3863062864023517 |
|0.004758454296615011 |0.002969454608452848  |0.013879367590153352 |-0.03006513610576476  |0.006945110047153901 |0.013049415709329529 |0.022125911363843884 |0.025209015276865955 |0.009434011726807972  |0.010467657531500559 |0.004502693197940018 |0.004911032468043297 |-8.829927471408696E-4 |0.3871690928104289  |-0.03927826472687649 |0.017144872943858216|0.012186559820495909|1.0050912009068127|1.0487223896352629|0.9915778074575337|0.9786244884325636|0.9915778074575337|0.9155759380448564|-5.949747983463898E-4 |0   |0.6152945774643803 |0.8483675745242589|0.4708162773839449 |0.2010882777378533 |0.6964166582971413|0.6934960965315519|0.01987424941462688   |0.005077197927113092 |-0.001130507481108297 |-0.00498211007898981 |0.006472043451067185  |0.014695788860233022  |0.010285278736947085 |0.003905544028311057  |-0.009085634617540576|0.001997506523361255  |1.017609268467032 |1.045447373167635 |1.0               |0.9753572670667862|1.0               |0.9319335326076996|0.009495031362006386 |0.007553329971524987|0.3115417859708998 |
|-0.008038499604034516|0.004758454296615011  |0.002969454608452848 |0.013879367590153352  |-0.03006513610576476 |0.006945110047153901 |0.013049415709329529 |0.022125911363843884 |0.025209015276865955  |0.009434011726807972 |-0.004502693197939958|-0.004911032468043184|5.19459961996404E-4   |-0.3582981242217299 |-0.4769814709965015  |0.01686861956520286 |0.012493563999082292|1.0003621654011214|1.036174024123707 |0.9919937227363448|0.9865228640087528|0.9836389606025414|0.923069168869826 |-0.015099815339877903 |0   |0.5112913688974609 |0.7612629735726745|0.45389945052592406|0.19877393504917834|0.5885112012201994|0.6651474514566347|0.003047399380505397  |0.01987424941462688  |0.005077197927113092  |-0.001130507481108297|-0.00498211007898981  |0.006472043451067185  |0.014695788860233022 |0.010285278736947085  |0.003905544028311057 |-0.009085634617540576 |1.0162239777222446|1.0447542196048822|1.0               |0.972389488235766 |1.0               |0.9339343164810504|0.009491422893678677 |0.007551610286700906|0.3260373879348619 |
|0.024169602076386517 |-0.015099815339877903 |-5.949747983463898E-4|-0.008038499604034516 |0.004758454296615011 |0.002969454608452848 |0.013879367590153352 |-0.03006513610576476 |0.006945110047153901  |0.013049415709329529 |-0.020626856074945268|0.013944456253485778 |-0.0017440578589634507|0.610907995428205   |-0.005010262375423488|0.014953188004129824|0.013790882880704902|1.0084271952799473|1.0346197236857255|1.0               |0.976120143714957 |0.9920105394814694|0.923846289642826 |-0.0012801305803454642|0   |0.7160605231658973 |0.7632076281406709|0.4119196793164791 |0.1944970344091536 |0.6302500946806564|0.6567060836239853|0.014236414927243141  |-0.016775497502307318|-0.0048585579943596574|0.003047399380505397 |0.01987424941462688   |0.005077197927113092  |-0.001130507481108297|-0.00498211007898981  |0.006472043451067185 |0.014695788860233022  |0.999961693397758 |1.0290190533534127|0.9926296546254209|0.9858644436389996|0.9926296546254209|0.9408688448195516|0.014694998117691566 |0.009040723804830291|0.6517766087340711 |
|0.0027374535876689915|-0.0012801305803454642|0.002484820068763913 |0.024169602076386517  |-0.015099815339877903|-5.949747983463898E-4|-0.008038499604034516|0.004758454296615011 |0.002969454608452848  |0.013879367590153352 |0.0025608208616736505|0.0060948546168522215|0.006812536932361975  |-0.03833695146507176|0.4091808817371224   |0.014085619808524612|0.013188726282112234|1.007220692960461 |1.0271974957821477|1.0               |0.9722797131858052|0.9959289052659224|0.920211524478074 |-0.015468512462672303 |0   |0.6547502418263066 |0.7239876682512053|0.2517506762264689 |0.18368352055057266|0.6558317830660009|0.6616904847602663|-0.014702127350693503 |-0.009701829847024038|-0.0084287119819026   |0.014236414927243141 |-0.016775497502307318 |-0.0048585579943596574|0.003047399380505397 |0.01987424941462688   |0.005077197927113092 |-0.001130507481108297 |0.9819974808225672|0.9907262815479724|0.9677004721560608|1.0               |0.9605681854571272|0.9741402067328744|0.012401430347766666 |0.010026482363885291|0.5609485488323162 |
|-0.015468512462672303|0.003672241446048837  |0.0027374535876689915|-0.0012801305803454642|0.002484820068763913 |0.024169602076386517 |-0.015099815339877903|-5.949747983463898E-4|-0.008038499604034516 |0.004758454296615011 |0.002567395505245733 |-0.007932501320643307|0.0                   |-0.3890709138636867 |0.1567970661772324   |0.00799577211916047 |0.013767186036710578|0.9906978538205344|1.007587669558977 |0.9846505104833184|1.0               |0.9842496790768148|0.9311308661498778|-0.001827415931206316 |0   |0.09415909676485164|0.5755456369011404|0.2370084455206209 |0.17936958720742335|0.4403815095623553|0.6125918029681875|-0.005451110914870639 |9.787378615344557E-4 |-0.014702127350693503 |-0.009701829847024038|-0.0084287119819026   |0.014236414927243141  |-0.016775497502307318|-0.0048585579943596574|0.003047399380505397 |0.01987424941462688   |0.9884147531768209|0.9843990111544284|0.971536606725716 |1.0               |0.9562817585834192|0.987536124171624 |0.0057805825722364755|0.009951553330211513|0.5765243182449351 |
+---------------------+----------------------+---------------------+----------------------+---------------------+---------------------+---------------------+---------------------+----------------------+---------------------+---------------------+---------------------+----------------------+--------------------+---------------------+--------------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------------+----+-------------------+------------------+-------------------+-------------------+------------------+------------------+----------------------+---------------------+----------------------+---------------------+----------------------+----------------------+---------------------+----------------------+---------------------+----------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+--------------------+-------------------+
only showing top 10 rows

In [40]:
numericals = [col for col in list(header.columns) if header.loc[0,col]=='N']
categoricals = [col for col in list(header.columns) if header.loc[0,col]=='C']
label_col = 'future_return'

In [46]:
data.cache()
data.count()
data.registerTempTable('data')
numtr_columns = ['variable','bucket','minima','var_sum','maxima','counts','lifts']
numerical_trends = pd.DataFrame(columns=numtr_columns)

In [47]:
data.count()

6019

In [50]:
buckets = 10
for col in ['Voltality5']:
    try:
        print(col)
        print('\n')
        counts = data.filter('{col} is not null and {col} <> 0'.format(col=col)).count()
        data1 = data.filter('{col} is not null and {col} < 0'.format(col=col))
        neg_counts = data1.count()
        try:
            neg_buckets = int(np.ceil(buckets*neg_counts/counts))
            print(neg_buckets)
        except Exception as e:
            print(e)
            neg_buckets = 1
        print(neg_buckets)
        if neg_buckets == 0 or np.isnan(neg_buckets):
            neg_buckets = 1
        print(neg_buckets)
        values = sorted(list(data1.select(col).distinct().toPandas().values))
        values = sorted([float(x) for x in values])
        data1.registerTempTable('data1')
        bucket_var = """case
        """
        buck_till = 0
        if neg_counts > 0:
            if values[0] >= -0.1:
                values = sorted([-0.1/neg_buckets*i for i in range(neg_buckets,0,-1)])
                for i,val in enumerate(values):
                    bucket_var += """when {col} <= {val} then {i}
                    """.format(col=col,val=val,i=buck_till+i+1)
                buck_till = buck_till + len(values)
                bucket_var += """when {col} < 0 then {i}
                """.format(col=col,i=buck_till+1)
                buck_till = buck_till + 1
            
            elif values[0] >= -1:
                values = sorted([-1/neg_buckets*i for i in range(neg_buckets,0,-1)])
                for i,val in enumerate(values):
                    bucket_var += """when {col} <= {val} then {i}
                    """.format(col=col,val=val,i=buck_till+i+1)
                buck_till = buck_till + len(values)
                bucket_var += """when {col} < 0 then {i}
                """.format(col=col,i=buck_till+1)
                buck_till = buck_till + 1
            else:
                buck_row = np.ceil(data1.count()/neg_buckets)
                df = sqlContext.sql("""select floor(final.rk/{buck_row})+1 as bucket,
                min(final.{col}) as minima,
                max(final.{col}) as maxima
                from
                (
                select {col},row_number() over(order by {col}) as rk
                from data1
                ) as final
                group by 1
                """.format(col=col,buck_row=buck_row)).toPandas().sort_values(by='bucket')

                bucket2 = 1
                df['bucket2'] = 0
                flag = 0
                for bucket in sorted(list(df['bucket'])):
                    if flag == 0:
                        df.loc[df['bucket']==bucket,'bucket2'] = bucket2
                    try:
                        if float(df.loc[df['bucket']==bucket,'minima']) == float(df.loc[df['bucket']==bucket+1,'minima']) and float(df.loc[df['bucket']==bucket,'maxima']) == float(df.loc[df['bucket']==bucket+1,'maxima']):
                            df.loc[df['bucket']==bucket+1,'bucket2'] = bucket2
                            flag = 1
                        else:
                            bucket2 = bucket2 + 1
                            flag = 0
                    except:
                        pass

                min_max_lst = []

                df = df.groupby('bucket2').agg({'minima' : ['min'],'maxima' : ['max']})
                df.columns = df.columns.droplevel()
                df.reset_index(inplace=True)
                df = df.rename({'bucket2':'bucket'},axis=1)

                for bucket in sorted(list(df['bucket'])):
                    if bucket == 1:
                        minima = float(df.loc[df['bucket']==bucket,'min'])
                        maxima = float(df.loc[df['bucket']==bucket,'max'])
                        min_max_lst.append((minima,maxima))
                        min_max_lst = sorted(min_max_lst,key=lambda x: x[1])
                    else:
                        minima = float(df.loc[df['bucket']==bucket,'min'])
                        maxima = float(df.loc[df['bucket']==bucket,'max'])
                        prev_max = float(min_max_lst[-1][1])
                        if minima == prev_max:
                            if values.index(minima) < len(values) -1:
                                pos = values.index(prev_max)
                                minima = float(values[pos+1])
                                if minima > maxima:
                                    continue
                                min_max_lst.append((minima,maxima))
                                min_max_lst = sorted(min_max_lst,key = lambda x: x[1])
                            else:
                                min_max_lst.append((minima,maxima))
                                min_max_lst = sorted(min_max_lst,key = lambda x:x[1])

                for i,x in enumerate(sorted(min_max_lst,key = lambda x: x[1])):
                    minima = x[0]
                    maxima = x[1]
                    bucket_var += """when {col} >= {minima} and {col} <= {maxima} then {i}
                    """.format(col=col,minima=minima,maxima=maxima,i=i+1)
                bucket_var += """when {col} < 0 then {i}
                """.format(col=col,i=buck_till+1)
                buck_till = buck_till + len(min_max_lst)
        bucket_var += """when {col} = 0 then {i}
        """.format(i=buck_till+1,col=col)
        buck_till = buck_till + 1
            

        data1 = data.filter('{col} is not null and {col} > 0'.format(col=col))
        pos_counts = data1.count()
        try:
            pos_buckets = int(np.ceil(buckets*pos_counts/counts))
        except:
            pos_buckets = 1
        if pos_buckets == 0 or np.isnan(pos_buckets):
            pos_buckets = 1
        values = sorted(list(data1.select(col).distinct().toPandas().values))
        values = list(sorted([float(x) for x in values]))
        data1.registerTempTable('data1')
        if pos_counts > 0:
            if values[-1] <= 0.2:
                values = sorted([0.1/pos_buckets*i for i in range(1,pos_buckets)])
                for i,val in enumerate(values):
                    bucket_var += """when {col} <= {val} then {i}
                    """.format(col=col,val=val,i=buck_till+i+1)
                buck_till += len(values)
                bucket_var += """when {col} < 0.1 then {j}
                when {col} = 0.1 then {i}
                """.format(col=col,j=buck_till+1,i=buck_till+2)
            elif values[-1] <= 1:
                values = sorted([1/pos_buckets*i for i in range(1,pos_buckets)])
                for i,val in enumerate(values):
                    bucket_var += """when {col} <= {val} then {i}
                    """.format(col=col,val=val,i=buck_till+i+1)
                buck_till += len(values)
                bucket_var += """when {col} < 1 then {j}
                when {col} = 1 then {i}
                """.format(col=col,j=buck_till+1,i=buck_till+2)
            else:
                buck_row = np.ceil(data1.count()/pos_buckets)
                df = sqlContext.sql("""select floor(final.rk/{buck_row})+1 as bucket,min(final.{col}) as minima,max(final.{col}) as maxima
                from
                (
                    select {col},row_number() over(order by {col}) as rk
                    from data1
                ) as final
                group by floor(final.rk/{buck_row}) + 1
                """.format(col=col,buck_row=buck_row)).toPandas().sort_values(by='bucket')

                bucket2=1
                df['bucket2'] = 0
                flag = 0
                for bucket in sorted(list(df['bucket'])):
                    if flag == 0:
                        df.loc[df['bucket']==bucket,'bucket2'] = bucket2
                    try:
                        if float(df.loc[df['bucket']==bucket,'minima']) == float(df.loc[df['bucket']==bucket+1,'minima']) and float(df.loc[df['bucket']==bucket,'maxima']) == float(df.loc[df['bucket']==bucket+1,'maxima']):
                            df.loc[df['bucket']==bucket+1,'bucket2'] = bucket2
                            flag = 1
                        else:
                            bucket2 = bucket2 + 1
                            flag = 0
                    except:
                        pass
                min_max_lst = []

                df = df.groupby('bucket2').agg({'minima':['min'],'maxima':['max']})
                df.columns = df.columns.droplevel()
                df.reset_index(inplace=True)
                df = df.rename({'bucket2' : 'bucket'},axis=1)

                for bucket in sorted(list(df['bucket'])):
                    if bucket == 1:
                        minima = float(df.loc[df['bucket']==bucket,'min'])
                        maxima = float(df.loc[df['bucket']==bucket,'max'])
                        min_max_lst.append((minima,maxima))
                        min_max_lst = sorted(min_max_lst,key = lambda x: x[1])
                    else:
                        minima = float(df.loc[df['bucket']==bucket,'min'])
                        maxima = float(df.loc[df['bucket']==bucket,'max'])
                        prev_max = float(min_max_lst[-1][1])
                        if minima == prev_max:
                            if values.index(minima) < len(values) - 1:
                                pos = values.index(prev_max)
                                minima = float(values[pos+1])
                                if minima > maxima:
                                    continue
                                min_max_lst.append((minima,maxima))
                                min_max_lst = sorted(min_max_lst,key = lambda x: x[1])
                        else:
                            min_max_lst.append((minima,maxima))
                            min_max_lst = sorted(min_max_lst,key = lambda x: x[1])
                for i,x in enumerate(sorted(min_max_lst,key=lambda x:x[1])):
                    minima = x[0]
                    maxima = x[1]
                    bucket_var += """when {col} >= {minima} and {col} <= {maxima} then {i}
                    """.format(col=col,minima=minima,maxima=maxima,i=buck_till+i+1)
        bucket_var += "end"
            
        query = """select {bucket_var} as bucket,
        min({col}) as minima,sum({col}) as var_sum,max({col}) as maxima,count(*) as counts,sum({label_col}) as lifts
        from data
        group by 1
        """.format(col=col,bucket_var=bucket_var,label_col=label_col)

        print(query)
        df = sqlContext.sql(query).toPandas().sort_values(by='minima')
        df['bucket'] = [i+1 for i in range(df.shape[0])]
        df['variable'] = col
        df = df[numtr_columns]
        numerical_trends = numerical_trends.append(df)
    except Exception as e:
        print(e)
        query = """select {bucket_var} as bucket,
        min({col}) as minima,sum({col}) as var_sum,max({col}) as maxima,count(*) as counts,sum({label_col}) as lifts
        from data
        group by 1
        """.format(col=col,bucket_var=bucket_var,label_col=label_col)

        print(query)

        df = sqlContext.sql(query).toPandas().sort_values(by='minima')
        df['bucket'] = [i+1 for i in range(df.shape[0])]
        df['variable'] = col
        df = df[numtr_columns]
        numerical_trends = numerical_trends.append(df)

Voltality5


0
0
1
select case
        when Voltality5 = 0 then 1
        when Voltality5 <= 0.01 then 2
                    when Voltality5 <= 0.02 then 3
                    when Voltality5 <= 0.03 then 4
                    when Voltality5 <= 0.04 then 5
                    when Voltality5 <= 0.05 then 6
                    when Voltality5 <= 0.06 then 7
                    when Voltality5 <= 0.07 then 8
                    when Voltality5 <= 0.08 then 9
                    when Voltality5 <= 0.09 then 10
                    when Voltality5 < 0.1 then 11
                when Voltality5 = 0.1 then 12
                end as bucket,
        min(Voltality5) as minima,sum(Voltality5) as var_sum,max(Voltality5) as maxima,count(*) as counts,sum(future_return) as lifts
        from data
        group by 1

In [51]:
numerical_trends.head()

      variable bucket    minima     var_sum    maxima counts      lifts
1   Voltality5      1  0.001466  111.810061  0.099990   6010 -89.509473
0   Voltality5      2  0.100380    1.022984  0.125212      9  -0.198724
10  Voltality5      1  0.001466    7.595580  0.009997   1014 -11.854900
2   Voltality5      2  0.010001   42.181684  0.019999   2839 -40.223309
5   Voltality5      3  0.020007   35.515911  0.029987   1482 -24.525070

In [52]:
numerical_trends.to_excel('../Statistics/adhoc.xlsx',index=False)